/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body > main {
  flex: 1;
}

.content {
  padding: 1rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
