/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --dark-color: #333;
  --light-color: #edebeb;
}

html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body > main {
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body > main, main > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > header {
  color: var(--light-color);
  background-color: var(--dark-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

body > footer {
  color: var(--light-color);
  background-color: var(--dark-color);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
}

.app-title {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  text-align: center;
}

.content {
  padding: 1rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.text-danger {
  color: darkred;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
