@page
@model IndexModel
@{
  ViewData["Title"] = "Login";
}

<div class="slides-container">
  <section class="present">
    <form id="loginForm" class="flex-form">
      <div class="flex-form-row">
        <label for="dataFile">Data file:</label>
        <select id="dataFile">
          @foreach (var file in Model.DataFiles)
          {
            <option>@file</option>
          }
        </select>
      </div>

      <div class="flex-form-row">
        <input type="password" placeholder="Master Password" id="masterPassword" name="masterPassword" />
        <input type="hidden" value="@Model.Session" id="sessionId" />
      </div>

      <div class="sequence-grid">
        @for(int y = 0; y < Model.GridHeight; y++)
        {
          <div class="sequence-grid-row">
            @for(int x = 0; x < Model.GridWidth; x++)
            {
              <button type="button" data-y="@y" data-x="@x">&nbsp;</button>
            }
          </div>
        }
      </div>

      <div class="flex-form-row">
        <button class="btn" type="submit">Confirm</button>
        <button class="btn" type="reset" id="resetBtn">Reset</button>
      </div>
    </form>
  </section>
  <section class="future">
    <h1>Slide 2</h1>
  </section>
</div>

@section Scripts {
  <script>
  if (!window.Uint8Array || !window.crypto || !window.crypto.subtle || !window.fetch) {
    console.log(window.location.href);
    window.location.href = '/unsupported';
  }
  </script>
}