@page
@model IndexModel
@{
  ViewData["Title"] = "Login";
}

<div>
  <input type="password" placeholder="Master Password" id="masterPassword" name="masterPassword" />
</div>

<div class="sequence-grid">

</div>
