@page
@model IndexModel
@{
  ViewData["Title"] = "Login";
}

<div>
  <input type="password" placeholder="Master Password" id="masterPassword" name="masterPassword" />
  <input type="hidden" value="@Model.Session" />
</div>

<div class="sequence-grid">

</div>

@section Scripts {
  <script>
  if (!window.Uint8Array || !window.crypto) {
    console.log(window.location.href);
    window.location.href = '/unsupported';
  }
  </script>
}