@page
@model IndexModel
@{
  ViewData["Title"] = "Login";
}

<form id="loginForm">
  <div>
    <label for="dataFile">Data file:</label>
    <select id="dataFile">
      @foreach (var file in Model.DataFiles)
      {
        <option>@file</option>
      }
    </select>
  </div>

  <div>
    <input type="password" placeholder="Master Password" id="masterPassword" name="masterPassword" />
    <input type="hidden" value="@Model.Session" />
  </div>

  <div class="sequence-grid">
    
  </div>

  <div>
    <button type="submit">Confirm</button>
    <button type="reset" id="resetBtn">Reset</button>
  </div>
</form>

@section Scripts {
  <script>
  if (!window.Uint8Array || !window.crypto) {
    console.log(window.location.href);
    window.location.href = '/unsupported';
  }
  </script>
}